<% url = @ride.id.present? ? update_ride_url(id: @car_pool.id, ride_id: @ride.id) : create_ride_url(id: @car_pool.id) %>
<%= form_for(@ride, url: url, html: {class: 'form-horizontal'}) do |f| %>
    <% if @ride.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @ride.errors.full_messages.each do |msg| %>
                <li class="text-error"><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="control-group">
      <%= f.label :date, nil, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :date %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :driver_id, 'Driver', class: 'control-label' %>
      <div class="controls">
        <%= f.select :driver_id, [['(no carpool)', 0]] + @car_pool.drivers.map { |driver| [driver.user.name, driver.id] } %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :members, 'Passengers', class: 'control-label' %>
      <div class="controls">
        <% @car_pool.drivers.each do |driver| %>
            <div class="driver_check driver_check_<%= driver.id %>"><label class="checkbox">
              <input type="checkbox" name="ride[participants][]" value="<%= driver.id %>" <%= @ride.participants.has_key?(driver.id) ? "checked" : "" %>>
              <%= driver.user.name %>
            </label></div>
        <% end %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Back', root_url, class: 'btn' %>
    </div>
<% end %>
